/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap');

/* general styles */

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Rubik, sans-serif;
    font-weight: 300;
}

/* logo and headings */

h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 700;
}

#logo {
    margin: 0;
    font-size: 2rem;
}

/* hero image, cover text and buttons */

#hero-image {
    /* TODO: Add appropriate background colour*/
    background: url(../images/female-singer.jpg) center top / cover no-repeat;
    height: calc(100vh - 4.5rem);
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.3);
}

#cover-text {
    width: 18rem;
    height: 10rem;
    padding: 1rem;
    background-color: rgba(243, 240, 241, 0.8);
    text-align: center;
    display: table;

    margin: 10vh auto;
}

#cover-text > h2 {
    /* Override bootstrap styling */
    margin-bottom: 0;

    display: table-cell;
    vertical-align: middle;
}