/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400&family=Rubik:wght@300;400&display=swap');

/* general styles */
* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    padding-top: 5rem;
}

/* logo, navbar and headings */
h1,
h2,
h3 {
    font-family: Antonio, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
    color: #212529;
}

#logo {
    color: #fff;
    font-size: 2.8rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.navbar {
    border-bottom: #DB5461 1px solid;
}

.nav-item {
    font-size: 1.4rem;
}

/*** --- HOME PAGE --- ***/
/* hero image, cover text and buttons */
#hero-image {
    /* --- Image taken from: https://www.pexels.com/photo/pretty-woman-singing-with-the-band-3984827/ --- */
    background: #B2A895 url(../images/female-singer.webp) center top / cover no-repeat;
    height: calc(100vh - 4.8rem);
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.3);
    padding-top: 30vh;
}

#cover-text {
    width: 22rem;
    height: 10rem;
    padding: 0.9rem 3rem;
    margin: 0 auto 2rem auto;
}

.white-box {
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    display: table;
    border: 1px solid #212529;
    border-radius: 4px;
}

#cover-text > h2 {
    display: table-cell;
    vertical-align: middle;
    font-size: 2.4rem;
}

#button-container {
    width: 22rem;
    margin: 0 auto;
}

.homepage-button {
    width: 10rem;
    height: 5rem;
    display: inline-block;
    font-size: 2rem;
    font-weight: 600;
    color: #212529;
    border: 1px solid #212529;
    border-radius: 4px;
    font-family: Antonio, sans-serif;
    background-color: rgba(255, 255, 255, 0.9);
}

#prices-btn {
    float: left;
}

#hire-btn {
    float: right;
}

#hero-image button:hover {
    background-color: #EFAD43;
}

/* Testimonial section */
.row {
    clear: both;
}

#testimonials {
    padding: 1rem;
    background-color: #212529;
}

.testimonial-img {
    width: 10rem;
    height: 10rem;
    border: 1px solid #212529;
    border-radius: 50%;
    /* --- Image taken from: https://pixabay.com/vectors/microphone-talk-speak-record-radio-1295666/ --- */
    background: #EFAD43 url(../images/vintage-microphone.webp) center top / cover no-repeat;
    margin: 1rem;
}

h3 {
    font-size: 1.6rem;
    font-weight: 500;
    background-color: #EFAD43;
    width: 80%;
    border-radius: 1rem;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
}

p {
    font-size: 1.4rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
    width: 100%;
}

.card {
    background-color: #fff;
    border: 2px ridge #EFAD43;
    box-shadow: 1px 1px 15px #000 inset;
}

/*** --- PRICES PAGE --- ***/
.default-section-style {
    padding: 1rem;
    background-color: #212529;
}

.height-set {
    min-height: calc(100vh - 10.5rem);
}

#packages .card {
    position: relative;
    margin: 0 auto;
    max-width: 100rem;
    box-shadow: 2px 2px 15px #000 inset;
}

.page-heading {
    font-size: 2.8rem;
    letter-spacing: 1px;
    margin: 2rem auto 4rem auto;
    padding: 1rem;
    width: 80%;
    max-width: 100rem;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
}

.offset-h-box {
    border-radius: 0;
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin: 0;
    padding: 0.5rem 1rem;
    position: absolute;
    display: block;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 20rem;
}

#packages a {
    text-decoration: none;
    color: #212529;
}

#diamond-note {
    font-size: 1.2rem;
    margin: 0;
    padding: 0 1rem 1.5rem 1rem;
    text-align: center;
}

sup {
    font-size: 1.4rem;
    vertical-align: -0.5rem;
}

.card ul {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 0;
    width: 100%;
    list-style-type: none;
}

#packages li {
    padding: 0.5rem;
}

#packages .card-body {
    margin: 0 auto;
    padding: 3.5rem 1rem 2rem 1rem;
    width: 80%;
    text-align: center;
}

#silver-h {
    background-color: rgba(235, 235, 235, 1);
}

#gold-h {
    background-color: rgba(239, 173, 67, 1)
}

#diamond-h {
    background-color: rgba(185, 242, 255, 1);
}

#silver-card {
    border: 2px ridge rgba(235, 235, 235, 1);
}

#gold-card {
    border: 2px ridge rgba(239, 173, 67, 1);
}

#diamond-card {
    border: 2px ridge rgba(185, 242, 255, 1);
}

.price {
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 1rem;
}

/*** --- THE BAND PAGE --- ***/
#band-img1 {
    width: 100%;
}

#band-img2 {
    display: none;
}

#band-info {
    padding: 1rem;
    background-color: #212529;
}

#band-info h2 {
    font-size: 3rem;
    margin: 2rem;
}

#band-info-card1 > .card-text,
#band-info-card3 > .card-text {
    /* No card-body class on 1st or 3rd card so 10px padding added to replicate bootstrap default style */
    padding: 1rem;
}

#band-info-card2 .card-body {
    width: 100%;
    padding: 0;
}

video {
    width: 60%;
}

#music-links {
    width: 100%;
    padding: 1rem;
}

#music-links i {
    padding: 0.5rem;
    margin: 1rem 2rem;
    font-size: 10rem;
    color: #212529;
}

#music-links li :hover,
.social-links li :hover {
    color: #EFAD43;
}

/*** --- ENQUIRE PAGE (Contact form) --- ***/
#contact-heading {
    margin-bottom: 2rem;
}

#contact-form {
    width: 90%;
    max-width: 65rem;
    background-color: #EFAD43;
    margin: 0 auto;
    padding: 0.5rem 1.5rem 1.5rem 1.5rem;
    border-radius: 4px;
}

label {
    font-size: 1.4rem;
    margin: 1rem 0 0.5rem 0;
    font-weight: 600;
}

.text-input,
.date-input,
.select-input {
    width: 100%;
    padding: 2px 0.5rem;
    height: 2.5rem;
    font-size: 1.4rem;
    background: #fff;
    border: 1px #000 solid;
    border-radius: 4px;
    display: block;
}

.date-input,
.select-input {
    width: 60%;
    max-width: 65rem;
    display: block;
}

.text-area {
    height: 8rem;
}

#contact-button {
    font-family: Antonio, sans-serif;
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.5rem;
    margin: 1rem auto 0 auto;
    background-color: #fff;
    border: #212529 solid 1px;
    border-radius: 4px;
    display: block;
}

#contact-button:hover {
    background-color: #212529;
    color: #fff;
}

:focus {
    outline: none;
    background-color:rgba(185, 242, 255, 1);
}

/* Footer */
.social-links {
    text-align: center;
    background-color: #212529;
    border-top: #fff 1px solid;
    /* Override Bootstrap padding and margins */
    padding: 0;
    margin: 0;
}

.social-links > li,
#music-links li {
    display: inline-block;
}

.social-links i {
    padding: 0.5rem;
    margin: 1rem 2rem;
    font-size: 2.4rem;
    color: #fff;
}

/*** --- MEDIA QUERIES --- ***/
/* for mobiles with screen width 320px and above */
@media screen and (min-width: 320px) and (orientation: landscape) {

    #hero-image {
        padding-top: 15vh;
        min-height: 22.5rem;
    }

    #band-images {
        text-align: center;
        background-color: #212529;
        padding: 3rem 1rem;
    }

    #band-images > img {
        width: 49.7%;
        display: inline-block;
    }
}

/* for mobiles with screen width 390px and above */
@media screen and (min-width: 390px) and (orientation: portrait) {

    /* Reduce hero image size to hint at content below it */
    #hero-image {
        height: calc(100vh - 10rem);
    }
}

/* for tablets with screen width 500px -> Increase sizes by around 50%. */
@media screen and (min-width: 500px) {
    body {
        padding-top: 6.6rem;
    }

    #logo {
        font-size: 4.2rem;
    }

    .nav-item {
        font-size: 2.1rem;
    }

    /* Home Page MQ */
        #hero-image {
        height: 75vh;
        padding-top: 23vh;
        min-height: 43rem;
    }

    #cover-text {
        width: 33rem;
        height: 15rem;
    }

    #cover-text>h2 {
        font-size: 3.6rem;
    }

    #button-container {
        width: 33rem;
    }

    .homepage-button {
        width: 15rem;
        height: 7.5rem;
        font-size: 3rem;
    }

    h3 {
        font-size: 2rem;
    }

    #testimonials p {
        font-size: 1.6rem;
    }

    /* Prices Page MQ */
    .height-set {
        min-height: calc(100vh - 13.5rem);
    }

    .page-heading {
        font-size: 4.2rem;
    }

    .offset-h-box {
        font-size: 2.7rem;
    }

    #diamond-note {
        font-size: 1.4rem;
    }
 
    .card ul {
        font-size: 1.6rem;
    }

    .price {
        font-size: 1.8rem;
    }

    /* The Band MQ */
    #band-info .card-text {
        font-size: 1.6rem;
    }

    /* Enquire MQ */
    #contact-heading {
        margin-bottom: 8rem;
    }
    
    label {
        font-size: 1.8rem;
        }
    
    .text-input,
    .date-input,
    .select-input {
        font-size: 1.8rem;
        height: 3rem;
    }
    
    .text-area {
        height: 14rem;
    }
   
    #contact-button {
        font-size: 2.8rem;
    }

    /* Footer MQ */
    .social-links i {
        font-size: 3.6rem;
    }
}

/* for screens with width 1200px and above -> Increase key elements by 100% */
@media screen and (min-width: 1200px) {
    body {
        padding-top: 8.3rem;
    }

    #logo {
        font-size: 5.6rem;
    }

    .nav-item {
        font-size: 2.8rem;
    }

    /* Home Page MQ */
    #hero-image {
        padding-top: 35vh;
        min-height: 65rem;
    }

    #cover-text {
        width: 44rem;
        height: 20rem;
    }

    #cover-text>h2 {
        font-size: 4.8rem;
    }

    #button-container {
        width: 44rem;
    }

    .homepage-button {
        width: 20rem;
        height: 10rem;
        font-size: 4rem;
    }

    /* Prices Page MQ */
    .height-set {
        min-height: calc(100vh - 16.35rem);
    }

    /* Footer MQ */
    .social-links i {
        font-size: 4.8rem;
    }
}

/* for screens with height 1200px and above */
@media screen and (min-height: 1200px) {
    .gy-5 {
        --bs-gutter-y: 6rem;
    }    
}