/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400&family=Rubik:wght@300;400&display=swap');

/* general styles */

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Rubik, sans-serif;
    font-weight: 300;
    padding-top: 4.5rem;
}

/* logo, navbar and headings */

h1,
h2,
h3 {
    font-family: Antonio, sans-serif;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 600;
    margin: 0;
    color: #363033;
}

#logo {
    color: #ebebeb;
    font-weight: 500;
    letter-spacing: 1px;
}

.nav-item {
    font-size: 1.4rem;
}

/* hero image, cover text and buttons */

#hero-image {
    background: #B2A895 url(../images/female-singer.jpg) center top / cover no-repeat;
    height: calc(100vh - 4.5rem);
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.3);
    padding-top: 30vh;
}

#cover-text {
    width: 22rem;
    height: 10rem;
    padding: 0.9rem 3rem;
    background-color: rgba(235, 235, 235, 0.9);
    text-align: center;
    display: table;
    border: 2px solid #363033;
    margin: 0 auto 2rem auto;
    border-radius: 1rem;
}

#cover-text > h2 {
    display: table-cell;
    vertical-align: middle;
}

#button-container {
    text-align: center;
}

.homepage-button {
    width: 10rem;
    height: 5rem;
    display: inline-block;
    margin: 1rem 0.9rem;
    font-size: 2rem;
    font-weight: 600;
    border: 2px solid #363033;
    border-radius: 1rem;
    font-family: Antonio, sans-serif;
    background-color: rgba(235, 235, 235, 0.9);
}

/* Testimonial section */

#testimonials {
    padding: 1rem;
    background-color: #363033;
}

.testimonial-img {
    width: 10rem;
    height: 10rem;
    border: 1px solid #363033;
    border-radius: 50%;
    background:#EFAD43 url(../images/vintage-microphone.png) center top / cover no-repeat;
    margin: 0.5rem auto;
}

#testimonials h3 {
    font-style: italic;
    font-size: 1.8rem;
    font-weight: 500;
    background-color: #fff;
    border-radius: 1rem;
}

#testimonials p {
    font-size: 1.4rem;
    font-weight: 500;
}

.card   {
    background-color: rgba(235, 235, 235, 0.8);
    border: 2px solid #DB5461;
}

/* Footer */

.social-links {
    text-align: center;
    background-color: #363033;
    border-top: #ebebeb 1px solid;

    /* Override Bootstrap padding and margins */
    padding: 0;
    margin: 0;
}

.social-links li {
    display: inline-block;

}

.social-links i {
    padding: 0.5rem;
    margin: 1rem 2rem;
    font-size: 2.4rem;
    color: #ebebeb;
}